.chords-input {
    color: red;
    background-color: yellow;
}

.chord-line {
    color: red;
    white-space: pre;
}

body, input {
    color: black;
    font-size: 1.2em;
    font-family: monospace;
}